<launch>


<!--    #### BNO085Node publish imu and mag messages #####-->
    <node name="bno085_node" pkg="vitulus_imu" type="bno085_node" respawn="true"
          respawn_delay="1" output="screen"/>


<!--##### Show in Rviz #####-->
<!--    <node name="rviz"-->
<!--              pkg="rviz"-->
<!--              type="rviz"-->
<!--              args="-d $(find vitulus_imu)/rviz/imu.rviz"-->
<!--              required="false" />-->



</launch>
